<ion-view view-title="Home">
    <!-- Se agrega al navbar el button de búsqueda -->
    <ion-nav-bar  class="bar-stable">
        <ion-nav-buttons side="right">
          <button class="button icon-left ion-search button-search" ng-click="toggleSearch()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding background-content">
      <!-- Muestra si el usuario toca el toggle, el formulario para buscar un item especifico -->
      <div ng-if="showSearch">
        <p class="text-center">Utiliza el buscador para encontrar más facílmente los artículos perdidos</p>
        <form name="formSearch" novalidate class="form-search" ng-submit="searchItems(search)">
          <input type="search" name="search" class="form-search-input" ng-model="search" placeholder="¿Qué estas buscando?">
          <button class="button button-dark button-small">Buscar</button>
        </form>
      </div>
      <h1 class="title-last-items">Últimos items publicados</h1>
      <!-- Actualizar Registros, referencia => https://ionicframework.com/docs/v1/api/directive/ionRefresher/ -->
      <ion-refresher pulling-text="Actualizando resultados..." on-refresh="doRefresh()"></ion-refresher>
      <!-- Resultados de items si hay -->
      <ion-list ng-if="items.length > 0">
        <ion-item class="list card" ng-repeat="item in items" ng-click="goDetail(item.producto.id)">
            <div class="item item-avatar">
              <!-- Poner el avatar cuando se registre con imagen ... {{item.usuario.avatar}} -->
              <img ng-src="img/avatar.png" alt="avatar de {{item.usuario.nombre}}">
              <h2 class="text-bold">{{item.usuario.nombre}}</h2>
              <p>{{item.producto.fecha_publicacion}}</p>
            </div>
            <div class="item item-body">
              <h3>{{item.producto.nombre}}</h3>
              <img class="full-image" ng-src="{{item.producto.foto}}" alt="{{item.producto.nombre}}">
              <p>{{item.producto.descripcion}}</p>
              <span class="subdued comments-block">
                <ion-icon name="chatboxes"></ion-icon>
                {{item.producto.cantComentarios}}
              </span>
            </div>
        </ion-item>
      </ion-list>
      <!-- Si no existen resultados muestra un texto que no hay resultados, y permite realizar un search nuevo -->
      <div ng-if="items.length === 0" class="padding container-not-results">
        <div class="container-icon-not-results ">
          <ion-icon name="alert" class="icon-alert"></ion-icon>
        </div>
        <p class="not-results-text">No se encontraron resultados</p>
        <button class="button button-clear button-positive" ng-click="getAllItems()">Limpiar búsqueda</button>
      </div>
    </ion-content>
  </ion-view>
  

