<ion-view title="Publicar">
    <ion-content class="padding">
        <form name="formPublish" ng-submit="publish(formPublish, item)" novalidate enctype="multipart/form-data">
            <div class="list">
                <label class="item item-input item-stacked-label item-form">
                    <span class="input-label">Nombre del ítem</span>
                    <input name="titulo" type="text" placeholder="Ejemplo: Anteojos Ray Ban" ng-model="item.titulo" required>
                </label>
                <div class="invalid-form" ng-show="errors.titulo">
                    <span>{{errors.titulo}}</span>
                </div>
                <label class="item item-input item-stacked-label item-form">
                    <span class="input-label">Descripción del mismo</span>
                    <textarea name="descripcion" ng-model="item.descripcion" rows="4" placeholder="Ejemplo: Encontre anteojos, perdí anteojos..." required></textarea>
                </label>
                <div class="invalid-form" ng-show="errors.descripcion">
                    <span>{{errors.descripcion}}</span>
                </div>
                <label class="item item-input item-stacked-label item-form">
                    <span class="input-label">Ubicación</span>
                    <input name="ubicacion" type="text" placeholder="¿Dónde lo perdiste / encontraste?" ng-model="item.ubicacion" required>
                </label>
                <div class="invalid-form" ng-show="errors.ubicacion">
                    <span>{{errors.ubicacion}}</span>
                </div>
                <div class="padding container-image-pic">
                    <p>¿Posees alguna foto?</p>
                    <input type="file" name="file" ng-model="item.img" maxsize="1000" base-sixty-four-input>
                </div>
                <div class="invalid-form" ng-show="errors.img">
                    <span>{{errors.img}}</span>
                </div>
            </div>
            <button type="submit" class="button button-dark button-block">Publicar</button>
        </form>
    </ion-content>
</ion-view>