<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/dashboard/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Publicar" icon-off="ion-edit" icon-on="ion-edit" href="#/dashboard/publish">
    <ion-nav-view name="tab-publish"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Salir" icon-off="ion-log-out" icon-on="ion-log-out" href="#/logout">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>
</ion-tabs>
  