<ion-view title="Detalle">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear" href="#/dashboard/home">Atrás</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" >
      <button class="button button-clear" ng-if="isMyPublish" ng-click="toggleEdit()">
        {{ !showEditable ? "Editar" : "Cancelar" }}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="background-content">
    <section ng-if="!showEditable">
      <div class="padding">
        <h1 class="title-item-detail">{{ item.titulo }}</h1>
        <div>
          <img class="img-responsive pic-item" ng-src="{{item.img}}" alt="{{item.titulo}}"/>
        </div>
        <p>{{ item.descripcion }}</p>
        <p>Ubicación: {{ item.ubicacion }}</p>
      </div>
      <div>
        <h2 class="title-comments">Comentarios</h2>
        <div>
          <ion-list class="list">
            <ion-item ng-repeat="c in comentarios" class="item item-avatar item-comments">
              <img ng-src="img/avatar.png" alt="avatar usuario {{c.usuario}}" />
              <p style="font-weight: bold">{{ c.usuario }}</p>
              <p>{{ c.comentario }}</p>
            </ion-item>
          </ion-list>
        </div>
        <div class="padding">
          <form name="formComments" ng-submit="addComment(formComments, comment)" novalidate>
            <div class="container-form-input-comment">
              <textarea
                name="comentario"
                ng-model="comment.comentario"
                rows="4"
                placeholder="Escribi tu comentario..."
                required
              ></textarea>
            </div>
            <div class="invalid-form" ng-show="errors.comentario">
              <span>{{ errors.comentario }}</span>
            </div>
            <button type="submit" class="button button-dark button-block">Comentar</button>
          </form>
        </div>
      </div>
    </section>
    <section ng-if="showEditable">
      <form name="formEdit" ng-submit="edit(formEdit, requestEdit)" novalidate>
          <div class="list">
              <label class="item item-input item-stacked-label item-form">
                  <span class="input-label">Nombre del ítem</span>
                  <input name="titulo" type="text" placeholder="Ejemplo: Anteojos Ray Ban" ng-model="requestEdit.titulo" required>
              </label>
              <div class="invalid-form" ng-show="errors.titulo">
                  <span>{{errors.titulo}}</span>
              </div>
              <label class="item item-input item-stacked-label item-form">
                  <span class="input-label">Descripción del mismo</span>
                  <textarea name="descripcion" ng-model="requestEdit.descripcion" rows="4"
                  placeholder="Ejemplo: Lo perdí en la facultad de medicina el jueves pasado..." required></textarea>
              </label>
              <div class="invalid-form" ng-show="errors.descripcion">
                  <span>{{errors.descripcion}}</span>
              </div>
              <label class="item item-input item-stacked-label item-form">
                  <span class="input-label">Ubicación</span>
                  <input name="ubicacion" type="text" placeholder="¿Dónde lo perdiste?" ng-model="requestEdit.ubicacion" required>
              </label>
              <div class="invalid-form" ng-show="errors.ubicacion">
                  <span>{{errors.ubicacion}}</span>
              </div>
              <div class="padding container-image-pic">
                  <p>¿Posees alguna foto?</p>
                  <input type="file" name="file" ng-model="requestEdit.img" maxsize="1000" base-sixty-four-input>
              </div>
              <div class="invalid-form" ng-show="errors.img">
                  <span>{{errors.img}}</span>
              </div>
          </div>
          <div class="padding">
              <button type="submit" class="button button-dark button-block">Modificar</button>
          </div>
      </form>
    </section>
    <div class="text-center" ng-if="isMyPublish">
      <button class="button button-clear button-positive" ng-click="removeItem()">Eliminar publicación</button>
    </div>
  </ion-content>
</ion-view>
