<ion-view>
    <ion-content>
        <ion-slide-box>
            <ion-slide>
                <div class ="box">
                    <h2 class="text-center">¿Cómo funciona?</h2>
                    <div>
                        <img src="img/shopping-bag.svg" alt="info lost things encuentra un item">
                        <p class="padding"><span style="font-weight: bold">Lost Things</span> te permite encontrar cualquier objeto que perdiste</p>
                    </div> 
                </div>
            </ion-slide>
            <ion-slide>
                <div class ="box">
                    <h2 class="text-center">Publicá</h2>
                    <div>
                        <img src="img/post-it.svg" alt="publica item que perdiste o encontraste">
                        <p class="padding">Publicá el item que perdiste o encontraste</p>
                    </div> 
                </div>
            </ion-slide>
            <ion-slide>
                <div class ="box">
                    <h2 class="text-center">Contactá</h2>
                    <div>
                        <img src="img/contact.svg" alt="contactar o enviar mensaje">
                        <p class="padding">Contactá o envía un mensaje para poder contactarte con la persona que encontró tu item o perdió</p>
                    </div> 
                </div>
            </ion-slide>
            <ion-slide>
                <div class ="box">
                    <h2 class="text-center">Recibe una recompensa</h2>
                    <div>
                        <img src="img/money.svg" alt="recompensa">
                        <p class="padding">Recibe una recompensa por realizar una buena acción, la misma será dada por la persona que recibió el item perdido</p>
                    </div> 
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
