<ion-view title="Home">
    <ion-nav-bar  class="bar-stable">
      <ion-nav-buttons side="right">
        <button class="button icon-left ion-search button-search" ng-click="toggleSearch()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding background-content">
      <section ng-if="showSearch">
        <p class="text-center">Utiliza el buscador para encontrar más facílmente los artículos perdidos</p>
        <form name="formSearch" novalidate class="form-search" ng-submit="searchItems(search)">
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" name="search" class="form-search-input" ng-model="search" placeholder="¿Qué estas buscando?">
            </label>
          </div>
        </form>
      </section>
      <h1 class="title-last-items">Últimos items publicados</h1>
      <ion-refresher pulling-text="Actualizando resultados..." on-refresh="doRefresh()"></ion-refresher>
      <ion-list ng-if="items.length > 0">
        <ion-item class="list card" ng-repeat="item in items" ng-click="goDetail(item.idpublicacion)">
            <div class="item item-avatar">
              <img ng-src="{{ item.imguser ? item.imguser : 'img/avatar.png' }}" alt="{{item.usuario}}">
              <p class="text-bold">{{item.usuario}}</p>
              <p>{{item.fecha_publicacion}}</p>
            </div>
            <article class="item item-body">
              <p>{{item.titulo}}</p>
              <img ng-if="item.img" class="full-image" ng-src="{{item.img}}" alt="{{item.titulo}}">
              <p>{{item.descripcion}}</p>
              <span class="subdued locate-block">
                <ion-icon name="pin"></ion-icon>{{item.ubicacion}}
              </span>
            </article>
        </ion-item>
      </ion-list>
      <section ng-if="items.length === 0" class="padding container-not-results">
        <div class="container-icon-not-results ">
          <ion-icon name="alert" class="icon-alert"></ion-icon>
        </div>
        <p class="not-results-text">No se encontraron resultados</p>
        <button class="button button-clear button-positive" ng-click="getAllItems()">Limpiar búsqueda</button>
      </section>
    </ion-content>
</ion-view>
  

