/**
    Estilos propios de Lost Things
    Fuentes utilizadas: 
        Roboto (TEXTOS)
        Black Han Sans (Titulo App)
    Color Principal:
        #FFA726
    Color Buttons:
        #212121
*/
* {
    font-family: 'Roboto';
}
.bar.bar-stable .title {
    color: #fff;
}
.bar.bar-stable {
    background-color: #FFA726;
    box-shadow: 0.1em 0.1em 0.2em 0.1em #dedede;
}
.item-form {
    border: 0;
    border-bottom: 1px solid #dedede;
}
.invalid-form span {
    color: #E53935;
    font-weight: bold;
    display: block;
    margin: 0.2em;
}
input.ng-invalid {
    border-color: #1976D2;
}
.ng-dirty input.ng-invalid {
    border-color: #E53935;
}
.background-content {
    background-color: #f5f5f5;
}
.locate-block {
    display: flex;
    justify-content: flex-end;
}
.text-bold {
    font-weight: bold;
}
.title-app {
    padding-top: 1em;
    font-family: 'Black Han Sans', sans-serif;
}
.tab-nav.tabs {
     background-color: #212121;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #fff;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, 
ion-tabs.tabs-color-active-positive .tab-item.active, 
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #FFA726;
}
.container-buttons-login {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.container-buttons-login p {
    flex: 1;
}
.bar .button.back-button, .bar button.back-button {
    color: #fff;
}
.lost-things-popup .popup-head {
    background-color: #FFA726;
}
.lost-things-popup .popup-head h3 {
    color: #fff;
}
.lost-things-popup .popup-buttons .button {
    background-color: #212121;
    color: #fff;
}
.button-search {
    border-color: none;
    color: red;
}
.form-search, .form-friends {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.form-friends {
    width: 100%;
}
.avatar-friends {
    padding-left: 52px;
    color: #444;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-search .form-search-input {
    flex: 1;
    margin-right: 1em;
    border-radius: 0.5em;
}
.item-friends {
    display: flex; 
    justify-content:space-around; 
    align-items:center;
    padding: 0;
}
.item-friends h3 {
    font-weight: 800;
}
.text-info-result-friends {
    font-weight: 700;
    color: #FFA726;
    text-align: right;
    padding-right: 1em;
}
.icon-friend-actions {
    font-size: 2em;
}
.icon-smile {
    font-size: 2.4em;
    color: #FFA726;
    margin-bottom: 0.2em;
}
.friend-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.friend-card-container {
    background-color:#f5f5f5;
    border-radius: 0.3em;
    margin: 0.2em;
}
.friend-card-content {
    padding: 1em; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.friend-card-description {
    margin-top: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.friend-card-title {
    font-weight: bold;
    color:#212121;
}
.friend-card-time {
    color:#777;
    font-size: 0.7em;
}
.img-friend {
    width: 122px;
    border-radius: 50%;
    height: 122px;
}
.container-no-friends {
    display:flex; 
    justify-content: center;
    align-items: center;
    padding: 1em;
    flex-direction: column;
}
.no-friends-text {
    width: 75%;
    text-align: center;
}
.profile-item-detail {
    border: none !important;
    border-style:none !important;
    background-color: #EEEEEE !important;
}
.profile-item-detail > .item-content {
    background-color: #EEEEEE !important;
}
.profile-box-shadow {
    box-shadow: 0.1em 0.2em 0.2em 0.1em #dedede;
}
.profile-container-view {
    background-color:#EEEEEE; 
    display:flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.profile-container-view img {
    margin-bottom: 1em;
}
.profile-container-view p {
    color:#777;
}
.profile-container-view h2 {
    margin: 0;
    font-weight: 700;
    color: #212121;
}
.profile-container-list-actions {
    padding: 0.5em;
    background-color: #eeeeee;
    border-top: 0.1em solid #e0e0ee;
}
.profile-title-publications {
    margin: 0; 
    padding-top: 1em;
    padding-left: 0.4em;
}
button.button.icon-left.ion-search.button-search {
    color: #fff;
    background-color: #212121;
    opacity: 0.8;
    border-radius: 50%;
    border: 0;
    box-shadow: 0.2em 0.2em 0.2em 0.2em #FFB74D;
}
.title-last-items {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5em;
}
.fileUpload {
    display: flex;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.container-image-pic p {
    color: #444;
    font-size: 16px;
}
.container-not-results {
    margin-top: 2em;
    text-align: center;
}
.container-icon-not-results {
    display: flex;
    justify-content: center;
}
.icon-alert {
    font-size: 4rem;
}
.not-results-text {
    margin-top: 1em; 
    color:#bdbdbd;
}
.item-comments {
    border: none;
}
.delete-friend-btn {
    color: #E53935 !important;
}
ion-item.item.item-avatar.item-comments {
    border-bottom: 2px solid #dedede !important;
}
.title-comments {
    text-align: center;
    color:#fff;
    background-color:#212121;
    padding: 0.4em;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;
}
.pic-item {
    width: 100%;
    height: auto;
}
.title-item-detail {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;
    padding: 0.2em;
}
.container-form-input-comment {
    display: flex;
}
.container-form-input-comment textarea {
    flex: 1;
    padding: 0.2em;
    border-radius: 0.2em;
}
a.button.icon-left.ion-chevron-left.button-clear {
    color: #fff;
}
.title-profile, .title-change-password {
    font-family: 'Roboto';
    margin: 0;
}
.container-modify-profile {
    display: flex;
    justify-content: space-around;
}