/**
    Estilos propios de Lost Things
    Fuentes utilizadas: 
        Roboto (TEXTOS)
        Black Han Sans (Titulo App)
    Color Principal:
        #FFA726
    Color Buttons:
        #212121
*/
* {
    font-family: 'Roboto';
}
.bar.bar-stable .title {
    color: #fff;
}
.bar.bar-stable {
    background-color: #FFA726;
    box-shadow: 0.1em 0.1em 0.2em 0.1em #dedede;
}
.item-form {
    border: 0;
    border-bottom: 1px solid #dedede;
}
.invalid-form span {
    color: #E53935;
    font-weight: bold;
    display: block;
    margin: 0.2em;
}
input.ng-invalid {
    border-color: #1976D2;
}
.ng-dirty input.ng-invalid {
    border-color: #E53935;
}
.background-content {
    background-color: #f5f5f5;
}
.comments-block {
    display: flex;
    justify-content: flex-end;
}
.text-bold {
    font-weight: bold;
}
.title-app {
    padding-top: 1em;
    font-family: 'Black Han Sans', sans-serif;
}
.tab-nav.tabs {
     background-color: #212121;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #fff;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, 
ion-tabs.tabs-color-active-positive .tab-item.active, 
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #FFA726;
}
.container-buttons-login {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.container-buttons-login p {
    flex: 1;
}
.bar .button.back-button, .bar button.back-button {
    color: #fff;
}
.lost-things-popup .popup-head {
    background-color: #FFA726;
}
.lost-things-popup .popup-head h3 {
    color: #fff;
}
.lost-things-popup .popup-buttons .button {
    background-color: #212121;
}
.button-search {
    border-color: none;
    color: red;
}
.form-search {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.form-search .form-search-input {
    flex: 1;
    margin-right: 1em;
    border-radius: 0.5em;
}
button.button.icon-left.ion-search.button-search {
    color: #fff;
    background-color: #212121;
    opacity: 0.8;
    border-radius: 50%;
    border: 0;
    box-shadow: 0.2em 0.2em 0.2em 0.2em #FFB74D;
}
.title-last-items {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5em;
}
.fileUpload {
    display: flex;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.container-image-pic p {
    color: #444;
    font-size: 16px;
}
.container-not-results {
    margin-top: 2em;
    text-align: center;
}
.container-icon-not-results {
    display: flex;
    justify-content: center;
}
.icon-alert {
    font-size: 4rem;
}
.not-results-text {
    margin-top: 1em; 
    color:#bdbdbd;
}
.item-comments {
    border: none;
}
ion-item.item.item-avatar.item-comments {
    border-bottom: 2px solid #dedede !important;
}
.title-comments {
    text-align: center;
    color:#fff;
    background-color:#212121;
    padding: 0.4em;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;
}
.pic-item {
    width: 100%;
    height: auto;
}
.title-item-detail {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;
    padding: 0.2em;
}
.container-form-input-comment {
    display: flex;
}
.container-form-input-comment textarea {
    flex: 1;
    padding: 0.2em;
    border-radius: 0.2em;
}
a.button.icon-left.ion-chevron-left.button-clear {
    color: #fff;
}